@font-face {
  font-family: "Archivo Black";
  src: url("ArchivoBlack-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 768px) {
body {
font-family: "Archivo Black";
}
  .video-desktop {
    display: none;
  }

  .video-mobile {
    display: block;
  }

  #layer1 video {
    height: 100vh;
    width: auto;
  }
  .layer img {
    top: auto;
    left: auto;
    width: 100%;
    height: auto;
  object-fit: contain;

    transform-style: preserve-3d;
      object-position: auto;

  
    
  }

  .layer {
    display: flex;
    justify-content: center;
    align-items: center;
}

  .layer video {
 align-self: center;
  height: auto;
    width: 100%;
    object-fit:cover;
    transition: transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
      transform-style: preserve-3d;

      border-radius: 6px;
    
      
    }

    .container {
      font-size: 14px;
      line-height: 14.5px;
      letter-spacing: -0.3px;



    }
    .intro {
      margin-bottom: 5vh;
      width: 100%;
      
    }

    .two-col {
      display: grid;
      /* two columns, each only as wide as its content */
      grid-template-columns: auto 1fr;   /* first column sized to content, second takes the rest */
      column-gap:34%;          /* reuse your spacing variable */
      align-items: start;  
    }
   
    .header {
      position: fixed;
      bottom: 5px;
      left: 20%;

      width:100%;
      padding: 0;
      z-index: 999;
      text-align: center;
      
    }
    .menu {
      flex-wrap: wrap;         /* Allow items to wrap onto next lines */
      justify-content:space-between;
      row-gap: 4px;
    }
    .menu__item {
      margin-top: 0px ;
      padding: 0px 6px; 
      font-size: 18vh;
      line-height: 16vh;
    }
    .project {
      position: fixed;
      top: 81vh;
      left: 48vw;
      font-size: 14px;
      line-height: 14.5px;
      letter-spacing: -0.3px;

    
    }

    .pr {
      position: fixed;
      top: 81vh;
     }
     




}
