.greyscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  /* Firefox 10+, Firefox on Android */

  filter: gray;
  /* IE6-9 */

  -webkit-filter: grayscale(100%);
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */

}

@font-face {
  font-family: 'Arial Black';
  src: url('ArialBlack.ttf') format('truetype');
}
.color {
  filter: none;
  -webkit-filter: grayscale(0%);
}
.cf {
  zoom: 1;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.flexbox {
  display: -ms-flexbox;
  /* TWEENER - IE 10 */

  display: -webkit-flex;
  /* NEW - Chrome */

  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */

}
.ib {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  display: inline;
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'open sans', sans-serif;
  font-size: 13px;
  line-height: 1.3;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}
.heading,
p,
ul {
  margin: 0 0 10px;
}
.heading {
  font-weight: normal;
}
h1,
.h1 {
  margin: 0 0 10px;
  font-weight: normal;
  font-size: 2em;
}
h2,
.h2 {
  margin: 0 0 10px;
  font-weight: normal;
  font-size: 1.3em;
}
h3,
.h3 {
  margin: 0 0 10px;
  font-weight: normal;
  font-size: 1.2em;
}
h4,
.h4 {
  margin: 0 0 10px;
  font-weight: normal;
  font-size: 1em;
}
h5,
.h5 {
  margin: 0 0 10px;
  font-weight: normal;
  font-size: 0.9em;
}
strong {
  font-weight: bold;
}
small {
  font-size: 0.85em;
}
a {
  color: #fff;
  text-decoration: none;
}
hr {
  clear: both;
  height: 1px;
  border: none;
  border-top: 1px solid #ccc;
  margin: 0 0 10px;
}
body {
  background: #f6f6f6;
}
.wrapper,
.environment,
.scene,
.layer {
  position: absolute;
  top: 0;

  width: 100vw;
  height: 100vh;

  align-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
}
.layer {
  perspective: 1000px;
}
.layer img {


  height: 100%;
object-fit: contain;

  transform-style: preserve-3d;
  box-shadow: 0px 0px 0px #00000025;

  
}




.layer video {




 width: 100%;
 height: auto;
 object-fit: contain;
  box-shadow: 0px 0px 10px #00000025;
  border-radius: 20px;

  
}
video {
  width: 100%;
  height: auto;
}
.wrapper {
  position: fixed;
  z-index: 10;
}
.environment {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: perspective(350px);
  -moz-transform: perspective(350px);
  -o-transform: perspective(350px);
  transform: perspective(350px);
  -webkit-perspective: 350px;
  -moz-perspective: 350px;
  -ms-perspective: 350px;
  -o-perspective: 350px;
  perspective: 350px;
  -webkit-perspective-origin: center center;
  -moz-perspective-origin: center center;
  -ms-perspective-origin: center center;
  -o-perspective-origin: center center;
  perspective-origin: center center;
}
.scene {
  top: 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.scene__depth {
  position: relative;
  z-index: 0;
}




html, body {
  background-color: #000000;
  justify-content: center;
  align-items: center;

}

.header {
  position: fixed;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width:55%;
  padding: 0;
  z-index: 999;
  text-align: center;
}

.menu {
  text-align: center;
  display: flex;
  justify-content: space-between; /* distributes items evenly */
  gap: 0;
  align-items: center;
  width: 100%; /* or any width you need */
  margin: 0;
  padding: 0px 9px;
  background-color: #000000;
}

.menu__item {
  /* Remove float and block settings */
  text-decoration: none;
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 1.4vh;
  line-height: 1.5vh;
  letter-spacing: -0.1px;
  box-shadow: 0px 0px 2px #ffffff25;
  margin: 0; /* remove any default margin */
  padding: 0 0px;
  
}

.menu__item:hover,
.menu__item.menu__item--active {
  color: #000000;
  background-color: #ffffff;
}


.links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 13px;
  position: fixed;
  z-index: 999;
  top: 5px;
  left: 50%;                /* Position left at 50% of viewport */
  transform: translateX(-50%); /* Shift left by half its own width */
  width: 55%;
  background-color: black;
  /* Using auto height or a fixed height if desired */
  height: fit-content;
}

.inner-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #000;
  height: fit-content;
}

/* Remove default margins on anchors */
.links-container a {
  display: inline-block; /* Ensure consistent sizing behavior */
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 0 6px; /* shorthand for left/right padding */
  transition: 0.3s;
  background-color: #000;
 
}

.links-container a:hover {
  color: #000;
  background-color: #fff;
}

.text {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 48px;
  color: #ffffff;
  text-align: center;
  padding-left: 22%;
  padding-right: 22%;
  text-decoration: none;
  transform-style: preserve-3d;
      perspective: 800px;
}

.text a {
  color: #ffffff;
  text-decoration: underline;
}
.text a:hover {
  color: #000000;
  background-color: #ffffff;
  border-radius: 14px;
}

.contact-info {
  text-align: center;
}
@media (max-width: 768px) {
  #layer1 video {
    height: 100%;
    width: auto;
  }
  .layer img {

    width: 100%;
    height: auto;
  object-fit: contain;
  transition: transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
    transform-style: preserve-3d;
    box-shadow: 0px 0px 0px #00000025;
  
    
  }

  .layer {
    display: flex;
    justify-content: center;
    align-items: center;
}

  .layer video {
 align-self: center;
  height: auto;
    width: 100%;
    object-fit:cover;
    transition: transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
      transform-style: preserve-3d;
      box-shadow: 0px 0px 0px #00000025;
      border-radius: 6px;
    
      
    }
    .header {
      position: fixed;
      bottom: 5px;
      left: 0%;
      transform: translateX(0%);
      width:100%;
      padding: 0;
      z-index: 999;
      text-align: center;
    }
    .menu {
      flex-wrap: wrap;         /* Allow items to wrap onto next lines */
      justify-content:space-between;
      row-gap: 4px;
    }
    .menu__item {
      margin-top: 0px ;
      padding: 0px 6px;  /* Optional: add some vertical padding for touch devices */
    }
.text {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  transform-style: preserve-3d;
      perspective: 800px;
}
.links-container {
 
  width: 100%;

}

}